.blog-sec {
  padding: 60px 0;
}
.blog-latestpost h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 40px;
}
.admin-info a {
  color: #212529;
  margin-right: 20px;
}

.blog-post {
  cursor: pointer;
}

.blog-post h5 {
  position: absolute;
  z-index: 99;
  color: #c6ae87;
  background: #fff;
  padding: 10px 20px;
  margin: 15px;
}

.blog-post h3 {
  font-size: 24px;
  padding-top: 15px;
}

.admin-info {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.blog-post span {
  color: #a07936;
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-post h3 {
    font-size: 21px;
  }
  .blog-post p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-post h3 {
    font-size: 17px;
  }
  .blog-post p {
    font-size: 14px;
    line-height: 20px;
  }
  .blog-post h5 {
    padding: 5px 10px;
    font-size: 15px;
  }
}
