.breadcrumb{
    background-image: url(../assets/banner-breadrumb.jpg);
    background-size: cover;
    padding: 120px 0;
    background-position: center;
}
.breadcrumb-title h2{
    font-size: 34px;
    font-weight: 600;
    color: white;
}
.breadcrumb-title p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.747);
    padding: 0px 33%;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .breadcrumb-title p{
        padding: 0px 16%;
    }
}