.account__menu--list.active {
  color: #a07936;
  font-weight: 600;
  font-size: 18px;
}
.account__menu--list {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .dashboard {
    padding: 0px !important;
    border-left: none !important;
    background-color: none !important;
  }
  .my__account--section__inner {
    padding: 0px !important;
  }
}
