.diamond-main-heading {
  font-weight: 600;
  padding-top: 40px;
  margin: 0px;
}

.diamond-head {
  background-color: #a07936;
  padding: 13px 20px;
  border-radius: 8px 8px 0px 0px;
}

.diamond-head {
  font-weight: 400;
}

.diamond-row {
  padding-top: 35px;
}

.diamond-head h5 {
  color: white;
  margin: 0px;
}

.shapes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #a079361a;
  padding: 20px 30px;
  border-radius: 0px 0px 8px 8px;
}

.shapes h6 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 0px;
}

.metals {
  padding-bottom: 35px;
}

.diamond-card-btn {
  background-color: #a07936;
  color: white;
  border: none;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  font-size: 13px;
  padding: 3px;
  border-radius: 3px;
  margin-top: 10px;
}

.diamond-card-col {
  padding: 50px 25px 0px 25px;
}

.filter-main {
  padding: 35px 18px;
}

.range-contain {
  background-color: #a079361a;
}

.daimond-row-size {
  border-bottom: 0.5px solid #cbcbcb;
}

.daimond-p-size {
  font-size: 25px;
  font-weight: normal;
  display: inline-block;
  color: #000000;
  border-bottom: 0.5px solid #cbcbcb;
}

.range {
  margin: 35px 0px;
}

.page-nav {
  align-items: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.page-nav p {
  padding: 0px;
  margin: 0px;
  color: #00000080;
  font-weight: 600;
  font-size: 18px;
}

.page-nav svg {
  font-size: 21px;
  color: #00000080;
}

.new-product-items-button button {
  border: 2px solid #a07936;
  border-radius: 0px;
  background-color: transparent;
  color: #a07936;
  font-weight: 600;
  font-size: 16px;
  padding: 13px 0px;
  width: 100%;
}

.select-btn {
  justify-content: left !important;
  gap: 15px !important;
  padding: 40px 30px 60px;
}

.shapes-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 0.5px solid transparent;
  padding: 10px 5px;
  border-radius: 5px;
}

.shapes-inner.selected {
  border: 0.5px solid #a07936;
  -webkit-box-shadow: inset 0 0 9px -2px #c97f00;
  box-shadow: inset 0 0 9px -2px #c97f00;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
  margin-right: 3px;
}

.shapes-inner:hover {
  border: 0.5px solid #a07936;
  -webkit-box-shadow: inset 0 0 9px -2px #c97f00;
  box-shadow: inset 0 0 9px -2px #c97f00;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 5px;
}

.shapes-inner button {
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #1c1b1f;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 20px;
  width: 150px;
}

.White-Gold {
  background-color: #d5dde0;
}

.yellow-Gold {
  background-color: #fdd748;
}

.Rose-Gold {
  background-color: #fdd6c5;
}

.platinum {
  background-color: #e9f1f4;
}

.range-mobile {
  padding: 35px 0px;
}

.range-mobile-main-div {
  background: rgba(245, 241, 235, 1);
  border-radius: 10px;
  padding: 22px;
}

.range-mobile h6 {
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
}

.range-mobile p {
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}

.range-mobile-border {
  border: 0.5px solid #a07936;
  -webkit-box-shadow: inset 0 0 9px -2px #c97f00;
  box-shadow: inset 0 0 9px -2px #c97f00;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 8px;
  margin-right: 3px;
}

.range-mobile-inner-div {
  border: 1px solid rgba(160, 121, 54, 0.3);
  border-radius: 10px;
  padding: 10px 15px;
}

.range-mobile-weight {
  color: rgba(160, 121, 54, 1) !important;
  font-weight: 700;
  font-size: 18px !important;
}

.range-mobile-base-price {
  text-decoration: line-through;
  font-size: 16px;
  padding-right: 6px;
  margin-right: 8px;
  color: #1c1b1f66;
  margin: 0px;
}

.range-mobile-sale-price {
  font-size: 16px;
  padding-right: 6px;
  margin-right: 8px;
  color: rgba(160, 121, 54, 1) !important;
  margin: 0px;
}

.range-mobile-buy {
  background-color: #a07936;
  color: white;
  border: none;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  font-size: 13px;
  padding: 3px;
  border-radius: 3px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .diamond-card-col {
    padding: 35px 25px;
  }
  .new-product-items-button button {
    padding: 6px 0px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {

  .page-nav p {
    font-size: 15px;
  }
  .diamond-main-heading {
    font-size: 20px;
  }
  .shapes h6 {
    font-size: 9px !important;
  }
  .daimond {
    padding: 0px 35px !important;
  }
  .select-btn{
    padding: 20px !important;
  }
  .select-btn{
    justify-content: center !important;
  }
  .shapes-inner-btn{
    width: 45% !important;
  }

}

@media only screen and (max-width: 768px) {
  .shapes h6 {
    font-size: 12px;
  }
}


@media only screen and (min-width: 400px) and (max-width: 499px) {
  .shapes-inner-btn h6{
    font-size: 13px !important;
  }
  .shapes-inner-slt{
  width: 40%;
  
  }
  .slt{
  padding: 20px 0px;
  gap: 30px;
  }
  .shapes-inner-slt img{
    width: 95%;
    height: 100%;
    object-fit: contain;
  }
}

