/* .custom-modal {
  height: 200px !important;
  overflow-y: auto;
} */

.earring-view-container {
  text-align: center;
}

.carat-weight-info {
  font-size: 14px;
  margin-top: 10px;
}

.carat-selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: #ededed;
}

.carat-radio {
  margin: 5px;
  text-align: center;
}
.carat-radio label {
  font-size: 12px;
}

.carat-radio input[type='radio']:checked {
  margin-right: 5px;
  accent-color: #a07936 !important;
}

.carat-info-text {
  font-size: 12px;
  margin-top: 10px;
  color: #666;
}
