ul,
li,
ol {
  list-style-type: none;
  margin: auto 0;
}

.navbarbottom {
  padding: 14px 0;
  box-shadow: 0 2px 8px 0 rgb(215 215 215 / 30%);
  position: relative;
}

.navigation ul {
  display: flex;
  padding: 0px;
  gap: 50px;
}

.navigation ul li {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
.navigation ul li:hover {
  color: #a07936;
}
