.shipping-info {
  background-color: #ece4d7;
  padding: 30px 0;
}
.shipping-content {
  padding: 15px 5px;
}
.shipping-img {
  display: flex;
  font-size: 40px;
  background-color: #a07936;
  border-radius: 50%;

  padding: 14px;
  margin-right: 25px;
}

.shipping-img svg {
  color: #fff;
}
.shipping-img1 {
  font-size: 40px;
  background-color: #a07936;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  margin-right: 25px;
}

.shipping-img1 svg {
  color: #fff;
}

.shipping-img2 {
  font-size: 40px;
  background-color: #a07936;
  border-radius: 50%;
  display: flex;
  padding: 14px;
  margin-right: 25px;
}

.shipping-img2 svg {
  color: #fff;
}

.shipping-text h3 {
  font-size: 21px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shipping-img {
    font-size: 32px;
    padding: 11px;
    margin: 0px;
  }
  .shipping-text p {
    font-size: 14px;
  }
  .shipping-img1 {
    font-size: 32px;
    padding: 11px;
    margin: 0px;
  }
  .shipping-img2 {
    font-size: 32px;
    padding: 11px;
    margin: 0px;
  }
  .shipping-text h3 {
    font-size: 17px;
  }
  .shipping-content {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shipping-img {
    margin-right: 15px;
  }
  .shipping-img1 {
    margin-right: 15px;
  }
  .shipping-img2 {
    margin-right: 15px;
  }
  .shipping-text h3 {
    font-size: 20px;
  }
  .shipping-text p {
    font-size: 14px;
    margin: 0px;
  }
}
